.row {
  display: grid;
  align-items: center;
  grid-template-columns: 3em 1fr 3.5em;
  border-radius: 0.5em;
  padding: 0.5em 0.2em;
  margin-bottom: 0.5em;
  width: 100%;
}

@media (min-width: 350px) {
  .row {
    grid-template-columns: 4em 1fr 4em;
  }
}

@media (min-width: 768px) {
  .row {
    grid-template-columns: 5em 1fr 5em 5em;
  }
}

@media (min-width: 1024px) {
  .row {
    grid-template-columns: 5em 1fr 10em 5em;
  }
}

.row:hover {
  background-color: var(--ci-light-grey);
}

.platform {
  display: flex;
}

.platformIcon {
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}

@media (min-width: 768px) {
  .platformIcon {
    margin-right: 0;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

.data {
  display: flex;
}

@media (min-width: 768px) {
  .data {
    font-size: 1em;
  }
}

.vote {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0.5em;
}

.date {
  text-align: right;
  display: none;
}

@media (min-width: 768px) {
  .date {
    display: block;
  }
}

.icon {
  width: 1.5em;
  height: auto;
  vertical-align: middle;
  margin-right: 0.5em;
  fill: var(--ci-grey);
}

.iconGreen,
.iconRed {
  width: 0.8em;
}

.iconGreen {
  fill: #228b22;
}

.iconRed {
  fill: #ff3131;
}

.text {
  margin: 0;
  text-align: left;
  max-width: 8em;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (min-width: 768px) {
  .text {
    max-width: none;
  }
}

.textSmall {
  margin: 0 0 0 0.5em;
  font-size: 0.8em;
}
