.wrapper {
  display: flex;
}

.list {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.paginationPrev,
.paginationNext {
  display: flex;
  align-items: center;
}

.paginationPrev:hover .iconPagination,
.paginationNext:hover .iconPagination {
  fill: var(--ci-dark-grey);
}

.paginationPrev {
  margin-right: 1.5em;
}

.paginationNext {
  margin-left: 1.5em;
}

.paginationPrev:disabled,
.paginationNext:disabled {
  opacity: 0.2;
  pointer-events: none;
}

.iconPagination {
  width: 0.5em;
  fill: var(--ci-grey);
  margin: 0;
}

.paginationBtn {
  padding: 0 0.5em;
}

.paginationActive {
  font-weight: 600;
}
