.details {
  width: 100%;
  padding: 0.5em;
  background-color: white;
}

@media (min-width: 768px) {
  .details {
    width: 40%;
    margin-left: 2.5em;
  }
}

.detailsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailsTitle {
  margin-bottom: 0;
}

.closeBtn {
  width: 0.8em;
}

.closeBtn:hover .closeIcon {
  fill: var(--ci-grey);
}

.closeIcon {
  width: 1.25em;
  fill: var(--ci-darker-grey);
}

.listContent {
  margin-top: 2em;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.platformItem {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.data {
  display: flex;
  max-width: 80%;
}

.icon {
  width: 1.25em;
  min-width: 1.25em;
  margin-right: 0.5em;
  fill: var(--ci-grey);
}

.platformIcon {
  width: 1.75em;
  margin-right: 1em;
}

.platformText {
  font-size: 1.25em;
  font-weight: 600;
  margin: 0;
}

.copyBtn:hover {
  opacity: 0.8;
}

.copyIcon {
  width: 1em;
}

.voteItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  margin-top: 2em;
}

.iconGreen,
.iconRed {
  width: 0.8em;
}

.iconGreen {
  fill: #228b22;
}

.iconRed {
  fill: #ff3131;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--ci-light-grey);
  padding: 0.6em 2em;
  border-radius: 0.5em;
  margin-top: 0.5em;
  width: 100%;
}

.btn:disabled {
  opacity: 0.75;
  cursor: default;
}

.btnActive,
.btn:hover:not(:disabled) {
  background-color: var(--ci-light-grey);
}

.iconBtn {
  width: 0.8em;
  height: 0.8em;
}

.deleteBtn {
  color: var(--ci-red);
}

.text {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.textSmall {
  margin: 0 0 0 0.5em;
  font-size: 0.8em;
}
