.subtitle {
  margin-bottom: 1.5em;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 32em;
}

.notvisible {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
}

.fail:first-letter {
  text-transform: uppercase;
}
