.subtitle {
  margin-bottom: 1.5em;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 32em;
}

.notvisible {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
}

.success,
.error {
  width: 100%;
  padding: 0.5em;
  text-align: center;
  color: white;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.success {
  background-color: var(--ci-green);
}

.error {
  background-color: var(--ci-red);
}

.fail:first-letter {
  text-transform: uppercase;
}
