.sectionGrey {
  padding: 6em 0 2em;
  background-color: var(--ci-dark-grey);
}

.title {
  color: white;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
}
