.box {
  background-color: var(--ci-light-grey);
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  height: 12em;
}

.box:hover {
  background-color: var(--ci-green);
  justify-content: space-between;
}

.boxLogo {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.boxIcon {
  width: 4em !important;
  height: 4em;
}

.boxTitle {
  margin-top: 0.5em;
  font-size: 1.5em;
}

.box:hover .boxTitle {
  color: white;
}

.boxLabel {
  padding: 1em;
  display: none;
  background-color: var(--ci-light-grey);
}

.box:hover .boxLabel {
  display: block;
  color: var(--ci-grey);
  font-weight: 600;
}
