.btn {
  padding: 0.6em 2em;
  background-color: var(--ci-green);
  border-radius: 0.65em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
  color: var(--ci-light-grey);
}

.fullWidth {
  width: 100%;
}

.btn:hover,
.btn:active {
  background-color: var(--ci-light-green);
}

.icon {
  margin-right: 0.2em;
}
