.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.field {
  display: flex;
  flex-direction: column;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  position: relative;
}

@media (min-width: 768px) {
  .field {
    flex-direction: row;
  }
}

.searchIcon {
  fill: var(--ci-grey);
  width: 1.25em;
  margin-right: 0.5em;
}

.inputField {
  width: 100%;
  margin-bottom: 0.35em;
  margin-right: 0.5em;
  position: relative;
  display: flex;
  background-color: white;
  border: 1px solid var(--ci-light-grey);
  border-radius: 0.5em;
  padding: 0.35em 1em;
}

@media (min-width: 768px) {
  .inputField {
    margin-bottom: 0;
  }
}

.input {
  outline: none;
  width: 100%;
  border: 0;
  color: var(--ci-grey);
}

.input::placeholder {
  color: hsl(206, 5%, 60%);
}

.input[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.input[type="text"],
.input[type="search"],
.input[type="time"] {
  width: 100%;
}

.invalid {
  border: 1px solid var(--red-53);
  box-shadow: 0 0 0 4px var(--red-97);
}

.closeBtn {
  fill: var(--ci-darker-grey);
  width: 1.25em;
}

.closeBtn:hover .closeIcon {
  fill: var(--ci-grey);
}

.closeIcon {
  width: 0.8em;
  fill: var(--ci-darker-grey);
}
