.searchRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.rowTitle {
  margin-bottom: 0;
}

.filter {
  display: flex;
}

.sortSelect {
  background-color: var(--ci-light-grey);
  border-radius: 0.65em;
  padding: 0.5em 1em;
  width: 10em;
  border: 0;
  font-size: 0.9em;
}

.sortSelect option:disabled {
  color: rgba(255, 255, 255, 0.5);
}

.selectActive {
  background-color: var(--ci-grey);
  color: white;
}

.icon {
  width: 1.5em;
  height: auto;
  vertical-align: middle;
  margin-right: 0.5em;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.paginationPrev,
.paginationNext {
  display: flex;
  align-items: center;
}

.paginationPrev:hover .iconPagination,
.paginationNext:hover .iconPagination {
  fill: var(--ci-dark-grey);
}

.paginationPrev {
  margin-right: 1.5em;
}

.paginationNext {
  margin-left: 1.5em;
}

.paginationPrev:disabled,
.paginationNext:disabled {
  opacity: 0.2;
  pointer-events: none;
}

.iconPagination {
  width: 0.5em;
  fill: var(--ci-grey);
  margin: 0;
}

.paginationBtn {
  padding: 0 0.5em;
}

.paginationActive {
  font-weight: 600;
}
