.searchRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter {
  display: flex;
}

.sortSelect {
  background-color: var(--ci-light-grey);
  border-radius: 5em;
  padding: 0.5em 1em;
  width: 10em;
  border: 0;
  font-size: 0.9em;
}

.sortSelect option:disabled {
  color: rgba(255, 255, 255, 0.5);
}

.selectActive {
  background-color: var(--ci-grey);
  color: white;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
}

.row:hover {
  background-color: var(--ci-light-grey);
}

.platform {
  display: flex;
}

.platformIcon {
  width: 2em;
}

.open {
  margin-left: 0.5em;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
  fill: var(--ci-darker-grey);
}

.platform:hover .open {
  visibility: visible;
  opacity: 1;
}

.data {
  width: 15em;
}

.copyBtn {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
}

.votes {
  display: flex;
  align-items: center;
}

.vote {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
}

.vote svg {
  transition: all 0.5s;
  transform: scale(1);
}

.vote:hover svg {
  transform: scale(1.2);
}

.voteText {
  width: 2em;
}

.date {
  width: 3em;
  text-align: right;
}

.icon {
  width: 1.5em;
  height: auto;
  margin-right: 0.5em;
  vertical-align: middle;
}

.iconGreen,
.iconRed {
  width: 0.8em;
  margin-right: 0.3em;
}

.iconGreen {
  fill: #228b22;
}

.iconRed {
  fill: #ff3131;
}

.iconCopy {
  width: 0.8em;
  margin-left: 0.2em;
  fill: var(--ci-darker-grey);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.copyBtn:hover .iconCopy {
  visibility: visible;
  opacity: 1;
}

.text {
  margin: 0;
  line-height: 1;
}

.textSmall {
  margin: 0;
  font-size: 0.8em;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.paginationPrev,
.paginationNext {
  display: flex;
  align-items: center;
}

.paginationPrev:hover .iconPagination,
.paginationNext:hover .iconPagination {
  fill: var(--ci-dark-grey);
}

.paginationPrev {
  margin-right: 1.5em;
}

.paginationNext {
  margin-left: 1.5em;
}

.paginationPrev:disabled,
.paginationNext:disabled {
  opacity: 0.2;
  pointer-events: none;
}

.iconPagination {
  width: 0.5em;
  fill: var(--ci-grey);
  margin: 0;
}

.paginationBtn {
  padding: 0.5em;
}

.paginationActive {
  font-weight: 600;
}
