.searchRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.searchRowRight {
  justify-content: flex-end;
}

.rowTitle {
  margin-bottom: 0;
}

.filter {
  display: flex;
}

.sortSelect {
  background-color: var(--ci-light-grey);
  border-radius: 0.5em;
  padding: 0.5em 1em;
  width: 10em;
  border: 0;
  font-size: 0.9em;
}

.sortSelect option:disabled {
  color: rgba(255, 255, 255, 0.5);
}

.selectActive {
  background-color: var(--ci-grey);
  color: white;
}

.icon {
  width: 1.5em;
  height: auto;
  vertical-align: middle;
  margin-right: 0.5em;
}
