.subtitle {
  margin-bottom: 1.5em;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 32em;
}

.field {
  width: 100%;
  margin-bottom: 1em;
}

.label {
  margin-left: 0.25em;
}

.input[type="text"],
.select {
  width: 100%;
  border: 0;
  padding: 0.5em 1em;
  height: 2.75em;
  background-color: var(--ci-light-grey);
  border-radius: 0.5em;
}

.inputError {
  font-size: 0.75em;
  color: var(--ci-red);
}

.checkBoxError {
  color: var(--ci-red);
}

.notvisible {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
}

.success,
.fail {
  width: 100%;
  padding: 0.5em;
  text-align: center;
  color: white;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.success {
  background-color: var(--ci-green);
}

.fail {
  background-color: var(--ci-red);
}

.fail:first-letter {
  text-transform: uppercase;
}
