:root {
  --ci-light-green: hsl(130, 32%, 51%);
  --ci-green: hsl(130 41% 44%);
  --ci-dark-green: hsl(130, 17%, 28%);
  --ci-grey: hsl(0 1% 46%);
  --ci-light-grey: hsl(0 0% 86%);
  --ci-dark-grey: hsl(206 5% 30%);
  --ci-darker-grey: hsl(0 0% 11%);
  --ci-red: hsl(359 53% 50%);
}
