.header {
  position: absolute;
  z-index: 5;
  width: 100%;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 2.5em;
  height: 2.5em;
  fill: white;
}

.navBtn {
  padding: 0.5em;
  width: 3em;
  height: 3em;
  position: relative;
  z-index: 10;
}

.navBtnIcon,
.navBtnIcon::before,
.navBtnIcon::after {
  width: 100%;
  height: 0;
  display: block;
  border-bottom: 0.25em solid white;
  border-radius: 1em;
}

.navBtnIcon::before,
.navBtnIcon::after {
  content: "";
  position: relative;
}

.navBtnIcon::before {
  top: -0.6em;
}

.navBtnIcon::after {
  top: 0.4em;
}

.navBtnActive .navBtnIcon {
  border-color: transparent;
}

.navBtnActive .navBtnIcon::before {
  transform: rotate(45deg);
  top: 0;
}

.navBtnActive .navBtnIcon::after {
  transform: rotate(-45deg);
  top: -0.15em;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .navbarActive.navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 80%;
    right: 0;
    height: 100%;
    background-color: var(--ci-darker-grey);
    padding: 4em 1em;
  }
}

.navItem {
  margin: 0 1em;
  color: white;
  margin-bottom: 1em;
}

.navActive {
  color: var(--ci-green);
  font-weight: 600;
}
