.header {
  position: absolute;
  z-index: 5;
  width: 100%;
  padding: 0.5em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 2.5em;
  height: 2.5em;
  fill: white;
}

.navItem {
  margin: 0 1em;
  color: white;
}

.navActive {
  color: var(--ci-green);
  font-weight: 600;
  position: relative;
}

.navActive::before {
  content: "";
  position: absolute;
  bottom: -0.25em;
  left: 0;
  width: 100%;
  height: 0.15em;
  background-color: var(--ci-green);
}
