@import "./colors.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/open-sans-v18-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("./assets/fonts/open-sans-v18-latin-600.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("./assets/fonts/open-sans-v18-latin-700.woff2") format("woff2");
}

html {
  line-height: 1.5;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--ci-dark-grey);
  font-size: 1em;
}

.container {
  max-width: 1300px;
  width: 100%;
  padding: 2em 1em;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    padding: 3em 1em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

a {
  color: var(--blue-48);
  text-decoration: none;
}

strong,
b {
  font-weight: 600;
}

input,
select,
button,
textarea {
  font-family: inherit;
  font-size: 1em;
  color: inherit;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: transparent;
}

.title {
  font-size: 1.5em;
  margin-bottom: 1em;
}
