.header {
  position: absolute;
  z-index: 5;
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgb(0 0 0/8%) 0 1px 0;
}

@media (min-width: 768px) {
  .header {
    padding: 1em 3em;
  }
}

.logo {
  color: white;
  font-size: 1.25em;
  font-weight: 600;
  color: var(--ci-green);
}

.buttons {
  display: flex;
  gap: 0.75em;
}

.account {
  position: relative;
  color: var(--grey);
}

.accountBtn {
  background-color: white;
  padding: 0.15em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  color: var(--ci-darker-grey);
  font-weight: 600;
  background-color: var(--ci-light-grey);
}

.addBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ci-light-grey);
  border-radius: 100%;
  border-radius: 100%;
  width: 2em;
  height: 2em;
}

.addIcon {
  font-size: 1.25em;
}

.dropdown {
  position: absolute;
  background-color: white;
  right: 0;
  padding: 0.35em 0;
  margin-top: 0.5em;
  border-radius: 0.5em;
  width: 12em;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.dropdownBtn {
  padding: 0.5em 1em;
  width: 100%;
  text-align: left;
  font-size: 0.9em;
}

.dropdownBtn:hover {
  background-color: var(--ci-light-grey);
}

.separator {
  background: var(--ci-light-grey);
  margin: 0.25em 0;
  height: 1px;
}

.logout {
  color: var(--ci-red);
}

.icon {
  font-size: 0.75em;
  margin-right: 0.5em;
}
