.btn {
  padding: 0.5em 2em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
  color: white;
  height: 2.5em;
}

.fullWidth {
  width: 100%;
}

.primary {
  background-color: var(--ci-green);
}

.primary:hover,
.primary:active {
  background-color: var(--ci-light-green);
}

.secondary {
  background-color: var(--ci-grey);
  color: white;
}

.secondary:hover,
.secondary:active {
  background-color: var(--ci-dark-grey);
}
